<app-navbar></app-navbar>

<!-- <form action="" [formGroup]="formNew">

    <div class="container card">
        <h1>Nova Ordem</h1>
        <div class="row">
                <mat-form-field class="col-sm-6" appearance="outline">
                    <mat-label>Cliente</mat-label>
                    <input autocomplete="off"  matInput formControlName="nome_Cliente">
                    </mat-form-field>
  
                <mat-form-field class="col-sm-6" appearance="outline">
                    <mat-label>Valor </mat-label>
                    <input autocomplete="off" matInput formControlName="valor">
                </mat-form-field>
                </div>
                <div class="form-row">
                 
                    <mat-form-field class="col-sm-12"  appearance="outline">
                        <mat-label>Forma de Pagamento</mat-label>
                        <input type="text" matInput formControlName="forma_pgto" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of forma_pag" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <textarea formControlName="desc" class="form-control" name="" id="" cols="30" rows="5"></textarea>
                    </div>
                </div>
                <div  class="form-row ">
                    <button [disabled]="formNew.invalid" (click)="register()" class="btn btn-success col-md-12">OK</button>
                </div>
            </div>

</form> -->


<iframe src="https://ec2-18-230-148-207.sa-east-1.compute.amazonaws.com:3000/d/OiQQzVmGk/ordens-de-servico" frameborder="0"></iframe>