.title {
	padding-top: 30px;
	margin-bottom: 20px;
}

.table {
	margin-top: 30px;
	border-top-right-radius: 5px !important;
	border-top-left-radius: 5px !important;
}

.icon {
	font-size: 18px;
}
.hover:hover {
	background-color: rgb(228, 225, 225);
}
