<div class="background">
  <div class="container card">
    <!-- <p>Login</p> -->
    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <div class="col-sm-12 header Roboto bold">
        Login
      </div>
      <mat-form-field class="col-sm-12" appearance="outline">
        <mat-label>Usuário</mat-label>
        <input autocomplete="off" matInput formControlName="username">
      </mat-form-field>

      <mat-form-field class="col-sm-12" appearance="outline">
        <mat-label>Senha</mat-label>
        <input autocomplete="off" type="password" matInput formControlName="password">
      </mat-form-field>

      <!-- <div class="form-group">
          <label for="password"> Password :</label>
          <input formControlName="password" class="form-control" id="password" type="password" />
        </div> -->
      <!-- <button type="submit" mat-raised-btn>OK</button> -->
      <div class="button">
        <button [disabled]="loginForm.invalid" matTooltip="Login" matTooltipPosition="above" color="accent" mat-fab
          aria-label="Example">
          <i class="material-icons">
            arrow_forward_ios
          </i>
        </button>
      </div>
      <div class="col-sm-12 ">
        <div class="forgot flex centered">

          <a  (click)="openForgotPassword()">Esqueci a minha senha</a>
        </div>
      </div>
    </form>

  </div>