<div class="col" *ngIf="!changed">
    <h1 class="Roboto">Recuperar sua senha.</h1>
    <p class="Roboto">Insira seu e-mail e usuario :</p>
    <form  [formGroup]="formForgot">
    <div class="row">
            <mat-form-field class="col-sm-6" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" autocomplete="off" matInput>
                <mat-hint class="red" *ngIf="!auth && try">Email ou usuario invalido.</mat-hint> 
              </mat-form-field>
            <mat-form-field class="col-sm-6" appearance="outline">
                <mat-label>Usuario</mat-label>
                <input formControlName="user" autocomplete="off" matInput>
              </mat-form-field>
            </div>
            <!-- <div class="row">
              <span class="col-sm-12 red" >email ou usuario invalido</span>
            </div> -->
            <div *ngIf="auth" class="row">
              <p class="Roboto col-sm-12">Insira sua nova senha :</p>
              <mat-form-field class="col-sm-12" appearance="outline">
                  <mat-label>Nova Senha</mat-label>
                  <input formControlName="senha" autocomplete="off" matInput>
                </mat-form-field>
              </div>
    </form>
      <div class="w-100 just-end">
          <button mat-button (click)="closeModal()">cancel</button> 
          <button mat-raised-button color="accent" *ngIf="!auth"  (click)="sendForm()">Send</button> 
          <button mat-raised-button color="accent" *ngIf="auth" (click)="postSenha()">Post</button> 
      </div>
</div>
<div *ngIf="changed">
  <div class="Roboto bold" style="cursor: pointer;">
    <i class="material-icons" (click)="onClick()">
        close
    </i></div>


<div class="flex column center">
    <div>
        <img style=" width:50px;" src="../../../../assets/imgs/icons/wink.svg" alt="">
        <h1>Senha Alterada com sucesso!! </h1>
        <p style="text-align: justify; margin-top: 20px;">
            Aguarde alguns segundos e acesse o sistema novamente</p>
    </div>
</div>
</div>