 <form [formGroup]="formNew" (ngSubmit)="postLogin()" action="POST">
        <div style="padding: 30px" class="container card">
            <div class="space-btw">
                <h1>Editar Usuário</h1>
                <span (click)="closeModal()" class="material-icons icon-close">
                    highlight_off
                </span>
            </div>
            <div class="row">
                    <mat-form-field class="col-sm-4" appearance="outline">
                        <mat-label>Nome</mat-label>
                        <input autocomplete="off" matInput formControlName="nome_Funcionario">
                    </mat-form-field>
                    <mat-form-field class="col-sm-4" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input autocomplete="off" matInput formControlName="email">
                    </mat-form-field>
                    <mat-form-field class="col-sm-4" appearance="outline">
                        <mat-label>Telefone</mat-label>
                        <input autocomplete="off" matInput formControlName="telefone_Funcionario">
                    </mat-form-field>
            </div>
            <div class="row">
                    <mat-form-field class="col-sm-4"  appearance="outline">
                        <mat-label>Cargo</mat-label>
                        <input type="text" matInput formControlName="cargo_Funcionario" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let option of cargos" [value]="option">
                            {{option}}
                          </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field class="col-sm-4" appearance="outline">
                        <mat-label>Usuario</mat-label>
                        <input autocomplete="off" matInput formControlName="usuario">
                    </mat-form-field>
                    <mat-form-field class="col-sm-4" appearance="outline">
                        <mat-label>Senha</mat-label>
                        <input autocomplete="off" matInput formControlName="senha" type="password">
                    </mat-form-field>
                </div>
                <input type="button" [disabled]="formNew.invalid"  class="btn btn-success col-sm-12" type="submit">
            </div>
    </form> 