/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.Roboto {
	font-family: 'Roboto', sans-serif;
}

.bold {
	font-weight: bold;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}
.red {
	color: red;
}
.w-100 {
	width: 100%;
}
.just-bet {
	display: flex;
	justify-content: space-between;
}
.just-center {
	display: flex;
	justify-content: center;
}
.just-right {
	display: flex;
	justify-content: flex-end;
}
.just-end {
	display: flex;
	justify-content: flex-end;
}
