<app-navbar></app-navbar>


<form action="" [formGroup]="formNew">


    <div class="container card">
        <h1 > Ordem de Serviço : {{IdOrdem}}</h1>
        <div class="form-row">
            <!-- <div class="form-group col-md-4">

                <label for="preco">Preço:</label>
                <input placeholder="Insira o Preço total da ordem." class="form-control" formControlName="preco"
                    type="text">
            </div> -->
            <mat-form-field class="col-sm-4" appearance="outline">
                <mat-label for="NomeProd">Preço </mat-label>
                <input matInput formControlName="preco" type="text" />
              </mat-form-field>
            <!-- <div class="form-group col-md-4">
                <label for="preco">Cliente</label>
                <input placeholder="Insira o nome do cliente da ordem." class="form-control" formControlName="cliente"
                    type="text">
            </div> -->
            <mat-form-field class="col-sm-4" appearance="outline">
                <mat-label for="NomeProd">Cliente </mat-label>
                <input matInput formControlName="cliente" type="text" />
              </mat-form-field>

            <!-- <div class="form-group col-md-4">
                <label for="preco">Forma de Pagamento</label>
                <select formControlName="formaPag" class="formaPag" class="form-control" name="" id="" placeholder="Escolha a forma de pagamento.">
                    <option value="cartão">Cartão</option>
                    <option value="dinheiro">Dinheiro</option>
                </select>
            </div> -->
            <mat-form-field class="col-sm-4" appearance="outline">
                <mat-label for="NomeProd">Forma de Pagamento </mat-label>
                <input matInput formControlName="formaPag" type="text" />
              </mat-form-field>
        </div>
        <div class="form-row">
            <!-- <div class="form-group col-md-12">
                <label for="preco">Produtos:</label>
                <select formControlName="prod"  class="form-control">
                    <option *ngFor="let prod of produtos" [value] = "prod.nome_Produto">{{prod.nome_Produto}}</option>
                </select>
            </div> -->
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Descrição :</label>
            <textarea formControlName="desc" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
     <div class="row margin-left-10px">
            
            <div class="">
                <button (click)="removerOrdem()" class="btn btn-danger">Deletar Ordem</button>
            </div>
             <button [routerLink]="['/print',IdOrdem]" class="margin-left-15px" routerLinkActive="router-link-active"  mat-mini-fab aria-label="Example icon-button with a heart icon">
       <span class="material-icons">print</span></button>
        </div>
        <div class="margin-top-35px">
            <h1>Cadastrar Produtos</h1>
        </div>

        <div class="row">
            <mat-form-field class=" col-sm-12 " appearance="outline">
                
                <mat-label>Produto</mat-label>
                <input type="text"
                        matInput
                        formControlName="prod"
                        [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let prod of produtos" [value]="prod.nome_Produto">
                    {{prod.nome_Produto}}
                    </mat-option>
                </mat-autocomplete>
                
            </mat-form-field>
        </div>
        <button class="btn btn-primary col-sm-2 margin-left-10px" (click)="cadastrarProduto()" >Adicionar</button>
    </div>

    <div class="container card"  >
        
        <div *ngFor="let prod of orderProd" class="card row space-between">
            <div>
                {{prod.nome_prod}}
            </div>
            <div class="delete-btn" (click)="deleteProd(prod.id_relation,prod.id_prod)">
                <span class="material-icons">
                    clear
                    </span>
            </div>
        </div>
    </div>

</form>